@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1C1C1E;
}

::-webkit-scrollbar-thumb {
  background: #3A3A3C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #48484A;
}
